{
    "extends": [
        "eslint:recommended",
        "plugin:react-hooks/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "eslint-config-prettier",
        "plugin:jsx-a11y/recommended",
        "plugin:prettier/recommended"
    ],
    "ignorePatterns": ["dist"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["react-refresh", "react", "jsx-a11y", "prettier"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {},
            {
                "usePrettierrc": true
            }
        ]
    }
}